@media only screen and (min-width: 700px) and (max-width: 1200px) {
    
    html {
        font-size: 14px; 
    }

    nav ul li {
        margin-right: 20px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-size: 14px;
    }
    
    .hero-text h1 {
        font-size: 36px; 
    }

    .hero-text p {
        font-size: 16px; 
    }

    
    .homepage #homepage-rentals h2 {
        font-size: 40px; 
    }

    .homepage #homepage-rentals p {
        font-size: 16px; 
    }

    .homepage .rental-type {
        padding: 15px; 
    }

    
    #homepage_reservation h2 {
        font-size: 24px; 
    }

    #weather h2 {
        font-size: 24px; 
    }

    

    #homepage_reservation,
    #weather {
        flex: auto;
        gap: 10px;
        margin-bottom: 20px;
        text-align: center;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #homepage_reservation {
        background-color: rgba(246, 174, 45, 0.1);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    #weather {
        background-color: rgb(85, 221, 224, 0.1);
    }

    #current-weather {
        background-color: rgba(85, 221, 224, 0.1);
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .forecast-item {
        background-color: rgba(85, 221, 224, 0.1);
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    #forecast-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ul {
        flex: 1;
        margin-bottom: 20px;
    }

    #homepage_reservation h2 {
        color: rgb(86, 18, 7);
        margin-bottom: 10px;
        font-size: 15px;
    }

    #weather h2 {
        color: var(--charcoal);
        margin-bottom: 10px;
        font-size: 15px;
    }

    #homepage_reservation img {
        display: block;
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        border: 3px solid var(--orange-pantone);
        margin: 10px auto;
    }

    #homepage_reservation p {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 12px;
    }

    ul{
        flex:1;
    }

    .contact-info {
        font-size: 14px; 
    }

    .copyright {
        font-size: 0.7em; 
    }


    .hamburger {
        display: none; 
    }


    
    .dropdown-menu {
        display: none; 
    }



.homepage .main > section {
    flex: 1 1 calc(100% - 40px); 
    margin: 20px;
}


.homepage .main > section * {
    font-size: 16px; 
}



#main-reserve {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


#rental-agreements {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 80%; 
    margin-bottom: 20px; 
}


#rental-form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 80%;
}


.box {
    border: 2px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}


.agreements-list {
    list-style-type: none; 
    padding: 0; 
    text-align: left; 
}


.cozumel-sign img {
    max-width: 100%; 
    height: auto; 
    margin-top: 20px; 
}}
