@media (min-width: 601px) and (max-width: 1199px) {
  body {
    display: grid;
    
    gap: 20px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    gap: 20px;
  }


  .hero,
  .circle-buttons,
  .upcoming-events {
    grid-column: span 2;
    width: 100%;
  }
  .join-chamber,
  .weather-container {
    grid-row: 3 /* Span two columns */
  }

  .highlights-section,
  .spotlights-section {
    grid-column: span 2;
    width: 100%; /* Span the page width */
  }

  .hamburger {
      display: none; 
  }


  .overlay h1 {
    font-size: 18px;
  }
  .circle-buttons {
    text-align: center; /* Center the circle buttons */
    margin-top: 20px; /* Add some top margin for spacing */
  }

  .circle-button {
    display: inline-block; /* Display circle buttons in a row */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border-radius: 50%; /* Make the buttons circular */
    background-color: #023047; /* Background color for the buttons */
    color: #fff; /* Text color */
    font-size: 16px; /* Font size for button text */
    line-height: 100px; /* Center align text vertically */
    margin: 0 10px; /* Add some margin between buttons */
  }
.upcoming-events{
  margin-top: -150px;
}

  .event-card {
      width: 200px;
      height: 300px;
      background-color: #f0f0f0;
      margin: 20px;
      padding: 15px;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
  }

  .event-card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .event-card h3 {
      margin-bottom: 10px;
  }

  .button {
      grid-column: span 2;
      margin-top: 20px;
      padding: 10px 15px;
      background-color: #8ECAE6;
      color: black;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
      align-content: center;
  }

  .button:hover {
      background-color: #219EBC;
  }

  .join-chamber {

      display: flex;
      align-items: center;
      gap: 10px;
  }

  .join-chamber div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .join-chamber img {
      padding: 20px;
      max-width: 400px;
      height: auto;
      object-fit: cover;
  }

  .text-section {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h2 {grid-column: span 2;
      text-align: center;
      align-content: center;
  }

  .highlights-section {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin: 20px 0;
  }

  .highlight-card {
      flex: 1;
      height: 100px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #023047;
      color: #fff;
      border-radius: 8px;
      text-align: center;
      font-size: 25px;
      margin: 25px;
      padding: 10px;
  }

  .spotlights-section {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin: 20px 0;

  }
.spotlights-section h2{
  text-align: center;
  font-size: 16px;
}
  .spotlight-card {
      max-width: 200px;
      padding: 20px;
      border: 1px solid #023047;
      border-radius: 8px;
      text-align: center;
      margin: 20px auto;
  }

  .spotlight-card h3 {
    text-align: center;
      margin-top: 0;
      color: #023047;
  }

  .spotlight-card p {
      margin: 10px 0;
      font-size: 10px;
  }

  .spotlight-card img {
      max-width: 100%;
      border-radius: 8px;
      margin-top: 10px;
  }

  .weather-card {
      width: 300px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin: 20px;
      text-align: center;
  }

  .weather-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .weather-card {
      width: 300px;
      background-color:#fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      margin: 20px;
  }

  .weather-card-header {
      background-color: #FFB703;
      color: #fff;
      padding: 10px;
  }

  .weather-info {
      padding: 20px;
  }

  .temperature {
      font-size: 24px;
      font-weight: bold;
  }

  .condition {
      margin-top: 10px;
      font-size: 16px;
  }

  .location {
      margin-top: 10px;
      font-size: 14px;
      color: #000000;
  }

  .footer-container {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr;
      background-color: #023047;
      color: #fff;
      padding: 5px;
      text-align: center;
  }

  .footer-logo img {
      max-width: 200px;
  }

  .visit-us {
      margin-top: 20px;
  }

  .visit-us h3 {
      text-align: left;
  }


  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
  
  .stats {
    display: grid;  
    grid-template-columns: 1fr; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
 
  .stats:hover {
    transform: scale(1.05);
  }
  
 
  .stats h2 {
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .stats ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .stats ul li {
    margin-bottom: 5px;
  }

  .image-content {
    display: grid;
    grid-template-columns:  1fr; 
    justify-content: center;
  }
  
  .image-container {

    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 0;
    padding-bottom: 75%; 
    border: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; 
    height: auto;
    object-fit: cover;
  }
  body.dark-mode main {
    background-color: #5d5c5c; 
  }

 body.dark-mode .sidebar {
  background-color: #333;
  color: white;
}

body.dark-mode .sidebar .message {
  
  color: white;
}
  
  body.dark-mode .stats {
    border: 1px solid #555; 
    padding: 15px;
    border-radius: 8px;
    background-color: #333; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    transition: transform 0.3s ease-in-out;
  }
  
  
  body.dark-mode .stats:hover {
    transform: scale(1.05);
  }
  
  
  body.dark-mode .stats h2, h3 {
    color: #fff; 
  }
  
 
  body.dark-mode .stats ul li {
    color: #fff;
  }
  
 
  body.dark-mode .image-content {
    background-color: #333; 
  }
  
  body.dark-mode .image-container {
    border: 1px solid #555;
    transition: transform 0.3s ease-in-out;
  }
  
  body.dark-mode .image-container img {
    border: 1px solid #555; 
  }
  
  body.dark-mode tr, td {
    background-color: #9d9d9d;
    color: white;
  }
  body.dark-mode th {
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
  }


  .list-view .list-member {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-view .list-member h2,
  .list-view .list-member p,
  .list-view .list-member a {
    width: 100%;
    margin-bottom: 8px;
  }

}
