@media (min-width: 601px) and (max-width: 1199px) {
  .hamburger {
      display: none; 
  }

  .upcoming-events {
      padding-top: 150px;
  }
  .small-overlay, .large-overlay {
        display: none;
    }

    .medium-overlay {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        border-radius: 8px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
  .event-card {
      width: 200px;
      height: 300px;
      background-color: #f0f0f0;
      margin: 20px;
      padding: 15px;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
  }

  .event-card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .event-card h3 {
      margin-bottom: 10px;
  }

  .button {
      margin-top: 20px;
      padding: 10px 15px;
      background-color: #219EBC;
      color: black;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
      display: block;
      margin: auto;
  }

  .button:hover {
      background-color: #219EBC;
  }

  .join-chamber {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .join-chamber div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .join-chamber img {
      padding: 20px;
      width: 300px;
      height: 200px;
      object-fit: cover;
  }

  .text-section {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h2 {
      text-align: center;
      align-content: center;
  }

  .highlights-section {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin: 20px 0;
  }

  .highlight-card {
      flex: 1;
      height: 100px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #023047;
      color: #fff;
      border-radius: 8px;
      text-align: center;
      font-size: 25px;
      margin: 25px;
      padding: 10px;
  }

  .spotlights-section {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin: 20px 0;
      text-align: center;
      margin: 20px 0;
  }

  .spotlight-card {
      width: 200px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;
      margin: 20px auto;
  }

  .spotlight-card h3 {
      margin-top: 0;
  }

  .spotlight-card p {
      margin: 10px 0;
  }

  .spotlight-card img {
      max-width: 100%;
      border-radius: 8px;
      margin-top: 10px;
  }

  .weather-card {
      width: 300px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin: 20px;
      text-align: center;
  }

  .weather-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .weather-card {
      width: 300px;
      background-color:#fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      margin: 20px;
  }

  .weather-card-header {
      background-color: #FFB703;
      color: #fff;
      padding: 10px;
  }

  .weather-info {
      padding: 20px;
  }

  .temperature {
      font-size: 24px;
      font-weight: bold;
  }

  .condition {
      margin-top: 10px;
      font-size: 16px;
  }

  .location {
      margin-top: 10px;
      font-size: 14px;
      color: #888;
  }

  .footer-container {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr;
      background-color: #023047;
      color: #fff;
      padding: 5px;
      text-align: center;
  }

  .footer-logo img {
      max-width: 200px;
  }

  .visit-us {
      margin-top: 20px;
  }

  .visit-us h3 {
      text-align: left;
  }

  body {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
  
  .stats {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
 
  .stats:hover {
    transform: scale(1.05);
  }
  
 
  .stats h2 {
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .stats ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .stats ul li {
    margin-bottom: 5px;
  }
  
  
 
  .image-content {
    display: grid;
    grid-template-columns:  1fr; 
    gap: 20px; 
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 75%; 
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    object-fit: cover;
  }
  body.dark-mode main {
    background-color: #333; 
  }
  
  body.dark-mode .stats {
    border: 1px solid #555; 
    padding: 15px;
    border-radius: 8px;
    background-color: #333; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
    transition: transform 0.3s ease-in-out;
  }
  
  
  body.dark-mode .stats:hover {
    transform: scale(1.05);
  }
  
  
  body.dark-mode .stats h2, h3 {
    color: #fff; 
  }
  
 
  body.dark-mode .stats ul li {
    color: #fff;
  }
  
 
  body.dark-mode .image-content {
    background-color: #333; 
  }
  
  body.dark-mode .image-container {
    border: 1px solid #555;
    transition: transform 0.3s ease-in-out;
  }
  
  body.dark-mode .image-container img {
    border: 1px solid #555; 
  }
  
  body.dark-mode tr, td {
    background-color: #9d9d9d;
    color: white;
  }
  body.dark-mode th {
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
  }

}
