@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap);

/* Base Styles */
body {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgb(253, 250, 244);
    position: relative;
}

.headshot {
    max-width: 1000%; /* Ensure the container does not exceed the viewport width */
    margin: 0 auto; /* Center the container */
  }
  
 .headshot img {
    width: 100%; /* Make the image fill the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    max-width: 100px; /* Set a maximum width for larger screens */
    display:inline-flex; /* Remove any extra spacing below the image */
  }

  .hero {
    grid-column: span 2;
    max-width: 1000%; /* Ensure the container does not exceed the viewport width */
    margin: 0 auto; /* Center the container */
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensure overflow doesn't affect the layout */
}


.overlay {
    position: absolute;
    top: 85%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the overlay */
    text-align: center;
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 10px;
    white-space: nowrap; /* Prevent text wrapping */
}


h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 20pt;
    margin-left: 10px;
}

nav {
    width: 100%;
    background-color: #05502f;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #05502f;
    padding: 10px;
}

nav li {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #05502f;
    border-radius: 5px;
}

.card h3, .cards h3 {
    text-align: center;
    background-color: rgb(215, 193, 150);
}

.card li {
    margin: 10px 0;
    text-align: left;
    font-size: 10pt;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.card, .cards {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2f2d2b;
    color: white;
    text-align: center;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
    overflow: hidden;
}