@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap);


body {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgb(253, 250, 244);
}

header img {
    height: 150px;
    display: inline-block;
    margin-top: 50px;
}


h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 30pt;
    margin-left: 10px;
    padding-bottom: 80px;
}

nav {
    width: 100%;
    background-color: #05502f;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #05502f;
    padding: 10px;
}
nav li {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #05502f;
    border-radius: 5px;
}

.card h3, .cards h3 {
    text-align: center;
    background-color: rgb(215, 193, 150);
}

.card li {
    margin: 10px 0;
    text-align: left;
    font-size: 10pt;

}
nav a {
    text-decoration: none;
    color: white;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.card, .cards {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2f2d2b;
    color: white;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    header img {
        height: 100px; 
        margin-top: 20px; 
    }

    h1 {
        font-size: 20pt;
        padding-bottom: 40px; 
    }

    nav ul {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    nav li {
        margin: 5px; 
        border-radius: 0; 
    }

    main {
        padding: 5px;
    }

    .card h3 {
        background-color: rgb(215, 193, 150);
    }

    .card li {
        font-size: 8pt;
    }
}
