/* Larger Screens - Min Width 600px */
@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr; /* 2/3 and 1/3 proportions */
        gap: 20px; /* Adjust the gap as needed */
        justify-content: center;
    }

    h2 {
        grid-column: span 2; /* Full width */
        text-align: center;
    }
}
