@media screen and (max-width: 600px) {
    .hamburger-menu {
        display: block;
        cursor: pointer;
        padding: 15px;
        background-color: #05502f;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #05502f;
    }

    nav ul.show-menu {
        display: flex;
    }

    nav li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #05502f;
    }
}
